html {
    height: 100%;
    width: 100%;
  }

.intro {
    text-align: center;
    font-family: 'roboto';
}

.nav-wrapper {
    text-align: center;
}

.nav-lis {
    display: inline;
    text-align: center;
    margin: 30px;
    color: rgb(38, 0, 255);
}

.nav-lis:hover {
    cursor: pointer;
    background-color: black;
    color:rgb(121, 224, 224);
}

.head {
    background-color: rgb(121, 224, 224);
}